:root{
  --azul-asociacion:#020e42;
}
.sombra{
  -webkit-box-shadow: -2px -1px 18px 0px rgba(50, 50, 50, 0.79);
  -moz-box-shadow:    -2px -1px 18px 0px rgba(50, 50, 50, 0.79);
  box-shadow:         -2px -1px 18px 0px rgba(50, 50, 50, 0.79);
}

/******Estilo Scroll Body*****/
body::-webkit-scrollbar {
  -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
  width:10px;
}

body::-webkit-scrollbar-button:increment,body::-webkit-scrollbar-button {
  display: none;
} 

body::-webkit-scrollbar:horizontal {
  height: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;  
}

/******* Header *******/
#head{
  width: 100%;
  height: 250px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  z-index: 100;
}
#svg{
  width: 100%;
  height:10px;
}
#head .titulo{
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  width: 80%;
  height: 100%;
  color: #ffffff;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
}
#head .logo{
  width: 20%;
  height: 90%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
}
#head img{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  object-fit: contain;
  object-position: center center;
}
/******* Formulario *******/
#dash {
 width: 30%;
 height:1200px;
 display: -webkit-flex;
 display: -ms-flexbox;
 display: flex;
 justify-content: center;
 align-items: center;
}
#dash .padre{
 width: 100%;
 height: 100%;
 display: -webkit-flex;
 display: -ms-flexbox;
 display: flex;
 justify-content: center;
 align-items: center;
} 
#dash .hijo{
  width: 100%;
  height: 80%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: #D6DBDF solid 1px;
  border-radius: 15px;
}
#dash .form{
  font-family: Arial, Helvetica, sans-serif;
  color: #5F6A6A;
  width: 85%;
  height: 90%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#dash .titulo{
  color: #ffffff;
  background:var(--azul-asociacion);
  margin-bottom: 30px;
  width: 100%;
  height:8%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px ;
  
}
#dash .boton{
  width: 100%;
  height: 15%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
}
#dash .btnSubmit{
  background: var(--azul-asociacion);
  color: #ffffff;
}
#dash input{
  overflow: hidden;
  height: 40px;
  border: #b7c3c9 solid 1px;
  border-radius: 5px;
} 
#checks{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#dash .btnSubmit:hover{
  background: #0c7beb;
  color: #ffffff;
  transform : scale(1.03);
}

/****** Busador ********/
#busquedaForm{
  width: 100%;
  height: 8%;
  border: #D6DBDF solid 1px; ;
  background: var(--azul-asociacion);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  margin-top: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
}
#busquedaForm input{
  height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: #5F6A6A;
  border: #b7c3c9 solid 1px;
  border-radius: 5px;
} 
#busquedaForm button{
  color: black;
  background: #ffffff;
}
#busquedaForm input:hover{
  transform: scale(1.05);
}
#busquedaForm button:hover{
  color: #ffffff;
  background: #347eee;
}

/****** Tarjetas ******/
#cajaPrincipal{
  width: 70%;
  height: 1150px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#cajaPrincipalDos{
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
/*--- Estilo del Scroll ----*/
#cajaPrincipalDos::-webkit-scrollbar {
  -webkit-appearance: none;
}

#cajaPrincipalDos::-webkit-scrollbar:vertical {
  width:10px;
}

#cajaPrincipalDos::-webkit-scrollbar-button:increment,#cajaPrincipalDos::-webkit-scrollbar-button {
  display: none;
} 

#cajaPrincipalDos::-webkit-scrollbar:horizontal {
  display: none;
}

#cajaPrincipalDos::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

#cajaPrincipalDos::-webkit-scrollbar-track {
  border-radius: 10px;  
}

/********* Lista ***********/
#lista{
  width: 100%;
}
#lista li{
  width: 100%;
  list-style:none;
}
#lista .card{
  height: 60px;
  border:#D6DBDF solid 1px ;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
 
}
#info{
  width: 45%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content:space-around;
  align-items: center;
}
#info .dato{
  width: 50%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  margin-left: 10px;
}
#botones{
  width: 55%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#lista .card:hover{
  transform: scale(0.99);
}

/****** Botones de Secciones   *****/
#seccionesBtn{
  width: 100%;
  height: 200px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 60px;
}
#seccionesBtn div img{
  width: 70%;
  height: 70%;
  border-radius: 10px;
  cursor: pointer;
}
#seccionesBtn div img:hover{
  transform: scale(1.05);
}





/****** Cartel de Alerta  *****/
#alerta {
  width: 100%;
  height: 50%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
}
#alerta .cartel {
  width: 70%;
  height: 40%;
  border:#D6DBDF solid 1px;
  border-radius: 3px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#alerta .parrafo{
  width: 100%;
  height: 40%;
  background: #34495E; 
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
}
#alerta .botones{
  width: 100%;
  height: 60%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/****** Responsive *****/
@media (max-width: 300px){
  #head h2{
      font-size: 25px;
  }
  #dash .hijo{
      width:95%;
  }
}
@media screen and (min-width:300px) and (max-width: 330px){
  #head h2{
      font-size: 33px;
  }
  #dash .hijo{
      width:95%;
  }
}
@media screen and (min-width: 330px) and (max-width: 400px){
  #head h2{
      font-size: 33px;
  }
  #dash .hijo{
      width:95%;
  }
}
@media screen and (min-width: 400px) and (max-width: 700px){
  #head h2{
      font-size: 37px;
  }
  #dash .hijo{
      width:95%;
  }
}
@media screen and (min-width: 700px) and (max-width: 1050px){
  #dash{
      height: 1366px;
  }
}