#infoFooter{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 200px;
 }
 #infoFooter svg{
     position: absolute;
     z-index: -1;
 }
 #infoFooter .copiYbtn{
     height: 17%;
     color: #ffffff;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     position: absolute;
     z-index: 2;
 }
 #infoFooter .copiYbtn div{
     width: 100%;
     height: 100%;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }