/*********  buscador y botones *******/
#contenedorFooter{
    height: 1000px;
    /* display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: flex-end; */
}
#contenedorFooter .footer{
    width: 100%;
    height: 10%;
    background: var(--azul-asociacion);
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}
#contenedorFooter .search{
    width: 30%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#contenedorFooter .contadorTotal{
    width: 30%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;    
    align-items: center;
}
#contenedorFooter .btns{
    width: 40%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;    
    align-items: center;
}
#contenedorFooter h5{
    color: #ffffff;
    font-size: xx-large;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/******** Lista *************/
#contenedorLista{
    width: 100%;
    height: 90%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#contenedorLista .contenedorCards{
    width: 100%;
    height: 95%;
    overflow-y: auto;
}
#contenedorLista li{
    width: 100%;
    list-style:none;
}
#tarjetaLista .datosPrincipales{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#tarjetaLista .datosPrincipales div{
    width: 50%;
    height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-start;
}
#tarjeta{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
}
#tarjeta div{
    width: 50%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#tarjeta .info{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
}
#tarjeta .datos div{
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#tarjeta .datos{
    width: 50%;
    height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-start;
}
#tarjetaLista:hover{
    transform: scale(0.99);
}

/*--- Estilo del Scroll ----*/
#contenedorLista .contenedorCards::-webkit-scrollbar {
    -webkit-appearance: none;
}

#contenedorLista .contenedorCards::-webkit-scrollbar:vertical {
    width:10px;
}

#contenedorLista .contenedorCards::-webkit-scrollbar-button:increment,#contenedorLista .contenedorCards::-webkit-scrollbar-button {
    display: none;
} 

#contenedorLista .contenedorCards::-webkit-scrollbar:horizontal {
    display: none;
}

#contenedorLista .contenedorCards::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

#contenedorLista .contenedorCards::-webkit-scrollbar-track {
    border-radius: 10px;  
}